* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Karla', sans-serif;


}
html {
    height:100vh;
}

body {
    min-height:100vh;
    display:flex;
    border: 1px solid black;
    justify-content: center;
    background-color:hsl(218, 22%, 67%);
}

main {
    height:90vh;
    width:90vw;
    border: 1px solid black;
    
    
}

.grid {
    display:grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    margin:25px;
    border-radius: 5px;
    
    
}


.one {
    border:1px solid black;
    grid-column-start: span 2;
    border-radius: 5px 5px 0 0;
    background-color: white;
    display:flex;
    flex-direction: column;
    gap:20px;
    justify-content: center;
    
    
    


}

.two {
    border:1px solid black;
    background-color: hsl(179, 62%, 40%);
    border-radius: 0 0 0 5px;


}

.three {
    border:1px solid black;
    background-color: hsl(179, 62%, 43%);
    border-radius: 0 0 5px 0;
}

.section1-title {
    color:hsl(179, 62%, 43%);
    margin-left: 55px;
    
}

.section1-title2 {
    color:hsl(71, 73%, 54%);
    margin-left:55px;
}

.section1-para {
    color:hsl(218, 22%, 67%);
    line-height: 2;
    margin-right: 80px;
    margin-left: 55px;
    font-size: 20px;
}