* {
    box-sizing: border-box;

}


main {
    height:100vh;
}

.grid {
    
    display:grid;
    justify-content: center;
    grid-template-columns: 40% 40%;
    max-height:90vh;
    
    
}


.one {
    border:1px solid black;
    grid-column-start: span 2;
    
    


}

.two {
    border:1px solid black;


}

.three {
    border:1px solid black;
    

}